*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

/* HEADER SECTION */

header {  
  background-color: #1f2937;
  /* display: flex; */
  /* justify-content: space-evenly; */
}

nav {
  max-width: 1100px;
  padding: 0.5rem 2rem;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  align-items: baseline;
}

a {
  text-decoration: none;
  color: white;
}

/* HERO SECTION */

.header-logo {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
}

.hero {
  background-color: #1f2937;
}

.hero-container {
  display: flex;
  /* flex-wrap: wrap; */
  color: white;
  padding: 6rem 2rem;
  margin: 0 auto;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.container {
  /* max-width: 550px; */
  min-height: 250px;
  display: flex;
  flex-basis: 550px;
}

.text-container {
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.image-container {
  background-color: #6d747d;
  padding: 5rem;
  align-items: center;
  justify-content: center;  
}

button {
  background-color: #3882f6;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  flex-grow: 0;
}

/* BOXES SECTION */

.box-section {
  text-align: center;
  margin-top: 2rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.box-section h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;

}

.boxes {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.box {
  width: 180px;
  height: 180px;
  border: 5px solid #3882f6;
  border-radius: 15px;

}

.boxes p {
  color: #6d747d;
  font-size: 18px;
}